<template>
    <div class="center">
        <h1> {{ counter }}</h1>
        <button @click="counterUp">Counter Up</button>
        <button @:click="counterDown">Counter Down</button>

    </div>
</template>

<script>
export default {
    name: "CounterView",
    data() {
        return {
            counter:0
        }
    },
    methods: {
        counterUp() {
            this.counter = this.counter +1
        },
        counterDown() {
            this.counter = this.counter -1
        }
    }
}
</script>

<style>
    h1{
        color: steelblue;
    }
    .center{
        text-align: center;
    }
</style>